<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Order</title>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header id="header">
  <nav class="nav-left">
    <a href="/about" class="active">The Order</a>
    <a href="/bell">The Bell</a>
  </nav>

  <div class="logo-wrap">
    <a href="/home">
      <img class="logo-img" src="/images/logo just 4 stars.png" alt="logo">
    </a>
  </div>

  <nav class="nav-right">
        <a id="loginBtn" href="/login">LOGIN</a>
  </nav>
</header>

<main>
  <section class="about-section">
    <div class="about-inner">
      <h1 class="about-title order-title">Ordo Praeconum Campanae Leonis</h1>
      <hr class="order-rule">

      <p class="about-text">
        The Order of the Heralds of the Lion's Bell was founded as a philosophical and chivalric fellowship devoted to awakening, the pursuit of knowledge, and the proclamation of truth.
      </p>

      <div class="divider-symbol">✶✶</div>

      <p class="about-text">
        The Order draws inspiration from mystical philosophy, ancient cosmology, hermetic traditions, gnostic thought, and the symbolic teachings of the mystery schools.
      </p>


      <div class="divider-symbol">✶✶</div>

      <p class="about-text">
        Rather than claiming a single religious authority, the Order studies these traditions as symbolic paths toward a deeper understanding of reality and truth.
      </p>


      <div class="divider-symbol">✶✶</div>

      <p class="about-text">
        Members of the Order are known as <span class="accent">Heralds of the Lion</span>.
      </p>
    </div>
  </section>
</main>




<footer class="site-footer">


  <nav class="footer-nav">
    <a href="/join">Answer the Bell</a>
    <span class="divider">·</span>
    <a href="/copyright">Trademarks & IP's</a>
  </nav>

<div class="footer-seal">
  <img src="/images/seal.png" alt="seal" id="seal">
</div>

  <div class="footer-title">Ordo Praeconum Campanae Leonis™</div>
  <div class="footer-motto">Campana sonat omnibus</div>


  <div class="footer-note">
    © 2026 Order of the Heralds of the Lion's Bell™<br>
    All rights reserved. All symbols and texts belong to the Order.
  </div>
</footer>













<script src="/js/app.js"></script>
</body>
</html>