<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trademarks & Intellectual Property</title>

      <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    

<header id="header">
  <nav class="nav-left">
    <a href="/about">The Order</a>
    <a href="/bell" >The Bell</a>
  </nav>

  <div class="logo-wrap">
    <a href="/home">
      <img class="logo-img" src="/images/logo just 4 stars.png" alt="logo">
    </a>
  </div>

  <nav class="nav-right">
        <a id="loginBtn" href="/login">LOGIN</a>
  </nav>
</header>
    



<main>
  <section class="about-section">
    <div class="about-inner">
      <h1 class="about-title">Trademarks & Intellectual Property</h1>
      <hr class="order-rule">

      <p class="about-text">
        <span class="accent">Order of the Lion’s Bell™</span>, <span class="accent">Heralds of the Lion™</span>, 
        <span class="accent">Ordo Praeconum Campanae Leonis™</span> and its crest of the <span class="accent"> Solar Bell</span> and the <span class="accent">Herald Lion</span>
        are part of the intellectual and symbolic property of the Order.
      </p>

      <div class="divider-symbol">✶✶</div>

      <p class="about-text">
        The crest, motto, seal, written texts, and visual language of the Order are protected as 
        original works and identity marks of the Order unless otherwise stated.
        </p>


        <div class="divider-symbol">✶✶</div>

        <p class="about-text">
        Unauthorized reproduction, imitation, or misrepresentation of the Order’s name,
        symbols, teachings, or identity without permission is discouraged.
        </p>


        <div class="divider-symbol">✶✶</div>

        <p class="about-text">
        This website and its materials are presented for philosophical, symbolic, and educational purposes.
        For inquiries regarding usage, reproduction, or citation, contact the Order directly.
        </p>

    </div>
  </section>
</main>






<footer class="site-footer">


  <nav class="footer-nav">
    <a href="/join">Answer the Bell</a>
    <span class="divider">·</span>
    <a href="/copyright">Trademarks & IP's</a>
  </nav>

<div class="footer-seal">
  <img src="/images/seal.png" alt="seal" id="seal">
</div>

  <div class="footer-title">Ordo Praeconum Campanae Leonis™</div>
  <div class="footer-motto">Campana sonat omnibus</div>


  <div class="footer-note">
    © 2026 Order of the Heralds of the Lion's Bell™<br>
    All rights reserved. All symbols and texts belong to the Order.
  </div>
</footer>

    <script src="/js/app.js"></script>
</body>
</html>